* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
}
body {
  background-image: url("images/bg-tablet-pattern.svg"),
    url("images/bg-tablet-pattern.svg");

  background-repeat: no-repeat, no-repeat;

  background-position: 900px -400px, -400px 900px;

  font-size: 16px;
  height:2000px;
}
header nav {
  width: 95%;
  margin: auto;
  text-align: center;
}
header .nav-link{
color:black;
}
.nav-link:hover{
 color:hsl(0, 0%, 59%);
}
.block-1{
    margin-top:100px;

}
.sec-para{
    color:hsl(0, 0%, 59%);
}
h5~p{

    margin-left:50px;
    margin-bottom:50px;
    margin-right:30px;
    padding-right:20px;

}
h5.row {
margin-bottom:20px;
}
.footer-container{
background-color:hsl(12, 88%, 59%);
height:200px;
padding-top:50px;
width:100%;

}
.footer-container2{
margin-top:60px;


}
.footer-container2 .logo_style{
margin-left:40px;
}
.footer-container2 .social-network a{
margin-right:10px;

}
.btn-footer{
margin:30px 500px 100px 500px;
}

.btn:hover{
  background-color: white;
  color: #EA4335;
  border: 1.2px solid #EA4335;
  border-radius:10px;
}
.footer-container h2,footer{
color:white;

}
.footer-container button{
color:hsl(12, 88%, 59%);
border:1px solid hsl(12, 88%, 59%);
background-color:white;
border-radius:10px;
}
.footer-container button:hover{
color:hsl(12, 88%, 80%);
border:1px solid hsl(12, 88%, 70%);
background-color:white;
border-radius:10px;
}

footer .nav-link{
color:white;

}
footer .nav-link:hover{
 color:hsl(12, 88%, 65%);

}
h5 .badge{
background-color:hsl(12, 88%, 59%);
color:white;
width:45px;
height:27px;
border-radius:13px;
padding-top:8px;
margin-right:5px;
}
form .btn,section .btn,header .btn{
border-radius:45px;
background-color:hsl(12, 88%, 59%);
color:white;
}
form .btn:hover,section .btn:hover,header .btn:hover{
border-radius:40px;
background-color:hsl(12, 88%, 65%);
color:white;
}
form input{
border-radius:20px;
}
header{
padding:45px;

}
footer{
background-color:black ! important;

}
footer small{
margin:0px 500px;
color:hsl(0, 0%, 59%);
}